<!DOCTYPE html>
<html>
  <head>
    <title>TeamsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%# <%=<h1><a href="/teams/">Teams</a></h1>%> %>
  <p><a href="/teams/">Home</a> | <a href="/teams/new">New Team</a> | <a href="/players">Player</a> </p> 
  
  
    <%= yield %>
  </body>
</html>
